:host {
  display: block;
  width: 100%;
}

form {
  display: flex;
  gap: var(--dim-large);

  .filter-actions {
    display: flex;
    align-items: center;
  }

  mat-form-field:first-child {
    flex: 1;
  }

  @media (max-width: 780px) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    mat-form-field:first-child {
      grid-column: 1 / span 2;
    }

    .filter-actions {
      display: none;
    }
  }
}
