@let loading = isLoading();

<ng-container *transloco="let t; prefix: 'web.PasswordChangePage'">

  <mat-card-header>
    <mat-card-title>{{ t('title') }}</mat-card-title>
    <mat-card-subtitle>{{ t('description') }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <form class="single-column"
          id="change-password-form"
          [formGroup]="form"
          (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ t('password') }}</mat-label>

        <input matInput type="password" formControlName="password" [placeholder]="t('passwordPlaceholder')"/>

        <mat-error *uiWhenError="form.controls.password; errorCode: 'required'">
          {{ t('passwordRequired') }}
        </mat-error>

        <mat-error *uiWhenError="form.controls.password; errorCode: 'minlength'">
          {{ t('passwordMinLength') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ t('confirmPassword') }}</mat-label>

        <input matInput type="password" formControlName="confirmPassword" [placeholder]="t('confirmPasswordPlaceholder')"/>

        <mat-error *uiWhenError="form.controls.confirmPassword; errorCode: 'required'">
          {{ t('confirmPasswordRequired') }}
        </mat-error>

        <mat-error *uiWhenError="form; errorCode: 'passwordMismatch'">
          {{ t('passwordMismatch') }}
        </mat-error>
      </mat-form-field>

    </form>

  </mat-card-content>

  <mat-card-actions>
    <button matButton
            type="submit"
            form="change-password-form"
            [disabled]="form.invalid || loading">
      @if (loading) {
        {{ t('loading') }}
      } @else {
        {{ t('submit') }}
      }
    </button>
  </mat-card-actions>

</ng-container>
