<div class="password-change-container">
  <mat-card class="password-change-card">

    <mat-card-header>
      <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="password-change-form">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>New Password</mat-label>

          <input matInput type="password" formControlName="password" placeholder="New Password"/>

          @if (form.controls.password.invalid && (form.controls.password.touched || form.controls.password.dirty)) {
            @if (form.controls.password.hasError('required')) {
              <mat-error>Password is required</mat-error>
            }
            @if (form.controls.password.hasError('minlength')) {
              <mat-error>Password must be at least 12 characters long</mat-error>
            }
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirm Password</mat-label>

          <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password"/>

          @if ((form.controls.confirmPassword.invalid || form.hasError('passwordMismatch')) && (form.controls.confirmPassword.touched || form.controls.confirmPassword.dirty)) {
            @if (form.controls.confirmPassword.hasError('required')) {
              <mat-error>Confirm password is required</mat-error>
            }

            @if (form.controls.confirmPassword.hasError('passwordMismatch') || form.hasError('passwordMismatch')) {
              <mat-error>Passwords do not match</mat-error>
            }
          }
        </mat-form-field>

        <div class="form-actions">
          <button mat-flat-button
                  color="primary"
                  type="submit"
                  [disabled]="form.invalid || isLoading()"
                  class="full-width">
            @if (isLoading()) {
              Changing password...
            } @else {
              Change Password
            }
          </button>
        </div>

      </form>

    </mat-card-content>

  </mat-card>
</div>
