@let currentRecipe = recipe();

<ui-section-header title="Cooking Instructions" icon="timer"/>

<div class="contents">
  @if (currentRecipe.stages.length === 0) {
    <mat-card>
      <mat-card-content>
        <ui-notice>No cooking instructions for this recipe.</ui-notice>
      </mat-card-content>
    </mat-card>

  } @else {
    <mat-accordion multi class="split-variant">
      @for (stage of currentRecipe.stages; track stage.id || stage.name; let stageIndex = $index) {
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ stageIndex + 1 }}. {{ stage.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          @if (stage.steps.length > 0) {
            <ol class="steps-list">
              @for (step of stage.steps; track step.id || step.name; let stepIndex = $index) {
                <li>
                  <div class="badge">{{ stepIndex + 1 }}</div>

                  <div class="label">{{ step.name }}</div>

                  @if (step.description) {
                    <div class="description">{{ step.description }}</div>
                  }
                </li>
              }
            </ol>
          }
        </mat-expansion-panel>
      }
    </mat-accordion>
  }
</div>
