<ng-container *transloco="let t; prefix: 'web.ShoppingListDetailsPage'">
  <!-- Page Header -->
  <ui-page-header [showBackButton]="true" (navigatedBack)="onNavigateBack()">
    <h1>
      {{ isEditMode() ? t('titleEdit') : t('titleCreate') }}

      @if (isSaving()) {
        <mat-spinner diameter="16"></mat-spinner>
      }
    </h1>

    <div>{{ t('description') }}</div>

    <button matButton="text"
            class="warn"
            [disabled]="!hasBoughtItems"
            (click)="onRemoveAllBoughtItems()">
      <mat-icon>delete_sweep</mat-icon>
      <span>{{ t('removeAllBought') }}</span>
    </button>
  </ui-page-header>

  @if (isLoading()) {
    <ui-block-loader/>

  } @else if (hasError()) {
    <div class="error-container">
      <mat-icon color="warn">error_outline</mat-icon>
      <p>{{ t('loadError') }}</p>
      <button mat-stroked-button (click)="loadShoppingList(currentId()!)">{{ t('retry') }}</button>
    </div>

  } @else {
    <form [formGroup]="form" (focusout)="onFormFocusOut()">
      <!-- Header Section Card -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ t('detailsTitle') }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="grid-12 mobile-single-column">

            <mat-form-field appearance="outline" class="grid-12-col-12">
              <mat-label>{{ t('name') }}</mat-label>

              <input matInput
                     formControlName="name"
                     [placeholder]="t('namePlaceholder')"/>

              <mat-error *uiWhenError="form.controls.name; errorCode: 'required'">
                {{ t('nameRequired') }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="grid-12-col-12">
              <mat-label>{{ t('descriptionLabel') }}</mat-label>

              <textarea matInput
                        formControlName="description"
                        rows="2"
                        [placeholder]="t('descriptionPlaceholder')">
              </textarea>
            </mat-form-field>

          </div>
        </mat-card-content>
      </mat-card>

      <!-- Items Section Card -->
      <section>
        <!-- Active Items List (No Title) -->
        <div cdkDropList
             class="item-list"
             (cdkDropListDropped)="onDropActive($event)">

          @for (item of activeItems; track item) {
            <ng-container [ngTemplateOutlet]="itemRow"
                          [ngTemplateOutletContext]="{ isBought: false, item }"/>
          }

          <div class="item-row">
<!--            <div class="start-spacer"></div>-->

            <button matButton="text"
                    class="add-button"
                    (click)="onAddItem()">
              <mat-icon>add</mat-icon>
              Add item
            </button>
          </div>
        </div>
      </section>

      <!-- Completed Section (With Title) -->
      @if (completedItems.length > 0) {
        <section>
          <h3>{{ t('completedTitle') }}</h3>
          <div cdkDropList
               class="item-list"
               (cdkDropListDropped)="onDropCompleted($event)">

            @for (item of completedItems; track item) {
              <ng-container [ngTemplateOutlet]="itemRow"
                            [ngTemplateOutletContext]="{ isBought: true, item }"/>
            }
          </div>
        </section>
      }
    </form>
  }

  <ng-template #itemRow let-isBought="isBought" let-item="item">
    <div class="item-row"
         [class.bought]="isBought"
         cdkDrag
         [formGroup]="item">
      <div cdkDragHandle
           [attr.aria-label]="t('dragHandleAriaLabel')">
        <mat-icon>drag_indicator</mat-icon>
      </div>

      <mat-checkbox formControlName="isBought"
                    (change)="onBoughtChange()"
                    [attr.aria-label]="t('boughtAriaLabel')">
      </mat-checkbox>

      <mat-form-field appearance="outline"
                      class="item-name-field mat-form-field-empty"
                      subscriptSizing="dynamic">
        <input matInput
               formControlName="name"
               class="item-name-input"
               (keydown.enter)="$event.preventDefault(); onEnterItem(item)"
               (input)="onItemNameInput(item, $event)"
               (keydown.backspace)="onItemNameBackspace(item, $event)"/>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      class="item-quantity-field mat-form-field-compact"
                      subscriptSizing="dynamic">
        <input matInput
               type="number"
               min="1"
               formControlName="quantity"
               [placeholder]="t('itemQuantityPlaceholder')"
               class="numeric"/>
      </mat-form-field>

      <button matIconButton
              [attr.aria-label]="t('removeItemAriaLabel')"
              class="warn remove-button"
              (click)="onRemoveItem(item)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </ng-template>
</ng-container>
