<ng-container *transloco="let t; prefix: 'web.CreateUserPage'">
  @let submitting = isSubmitting();

  <!-- Page Header -->
  <ui-page-header [showBackButton]="true" (navigatedBack)="onCancel()">
    <h1>{{ t('title') }}</h1>
    <div>
      {{ t('description') }}
    </div>
  </ui-page-header>

  <mat-card>
    <mat-card-content>
      <form class="dual-column"
            id="create-user-form"
            [formGroup]="form"
            (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline">
          <mat-label>{{ t('fullName') }}</mat-label>

          <input matInput
                 type="text"
                 formControlName="fullName"
                 [placeholder]="t('fullNamePlaceholder')"/>

          <mat-error *uiWhenError="form.controls.fullName; errorCode: 'required'">
            {{ t('fullNameRequired') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ t('email') }}</mat-label>

          <input matInput
                 type="email"
                 formControlName="email"
                 [placeholder]="t('emailPlaceholder')"/>

          <mat-error *uiWhenError="form.controls.email; errorCode: 'required'">
            {{ t('emailRequired') }}
          </mat-error>

          <mat-error *uiWhenError="form.controls.email; errorCode: 'email'">
            {{ t('emailInvalid') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ t('password') }}</mat-label>

          <input matInput
                 type="password"
                 formControlName="password"
                 [placeholder]="t('passwordPlaceholder')"/>

          <mat-error *uiWhenError="form.controls.password; errorCode: 'required'">
            {{ t('passwordRequired') }}
          </mat-error>

          <mat-error *uiWhenError="form.controls.password; errorCode: 'minlength'">
            {{ t('passwordMinLength') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ t('confirmPassword') }}</mat-label>

          <input matInput
                 type="password"
                 formControlName="confirmPassword"
                 [placeholder]="t('confirmPasswordPlaceholder')"/>

          <mat-error *uiWhenError="form.controls.confirmPassword; errorCode: 'required'">
            {{ t('confirmPasswordRequired') }}
          </mat-error>

          <mat-error *uiWhenError="form; errorCode: 'passwordMismatch'">
            {{ t('passwordMismatch') }}
          </mat-error>
        </mat-form-field>

      </form>
    </mat-card-content>

    <mat-card-actions>
      <button matButton
              type="submit"
              form="create-user-form"
              [disabled]="form.invalid || submitting">
        <span>{{ submitting ? t('creating') : t('submit') }}</span>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
