@let loading = isLoading();

<ng-container *transloco="let t; prefix: 'web.LoginPage'">

  <mat-card-header>
    <mat-card-title>{{ t('title') }}</mat-card-title>
    <mat-card-subtitle>{{ t('description') }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <form class="single-column"
          id="login-form"
          [formGroup]="form"
          (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ t('email') }}</mat-label>

        <input matInput type="email" formControlName="email" [placeholder]="t('emailPlaceholder')"/>

        <mat-error *uiWhenError="form.controls.email; errorCode: 'required'">
          {{ t('emailRequired') }}
        </mat-error>

        <mat-error *uiWhenError="form.controls.email; errorCode: 'email'">
          {{ t('emailInvalid') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ t('password') }}</mat-label>

        <input matInput type="password" formControlName="password" [placeholder]="t('passwordPlaceholder')"/>

        <mat-error *uiWhenError="form.controls.password; errorCode: 'required'">
          {{ t('passwordRequired') }}
        </mat-error>
      </mat-form-field>

    </form>

  </mat-card-content>

  <mat-card-actions>
    <button matButton
            type="submit"
            form="login-form"
            [disabled]="form.invalid || loading">
      {{ loading ? t('loading') : t('login') }}
    </button>
  </mat-card-actions>

</ng-container>
