@let loading = isLoading();

<mat-card-header>
  <mat-card-title>Welcome!</mat-card-title>
  <mat-card-subtitle>Please log in to continue.</mat-card-subtitle>
</mat-card-header>

<mat-card-content>

  <form class="single-column"
        id="login-form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>

      <input matInput type="email" formControlName="email" placeholder="name@example.com"/>

      <mat-error *uiWhenError="form.controls.email; errorCode: 'required'">
        Email is required
      </mat-error>

      <mat-error *uiWhenError="form.controls.email; errorCode: 'email'">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>

      <input matInput type="password" formControlName="password" placeholder="Password"/>

      <mat-error *uiWhenError="form.controls.password; errorCode: 'required'">
        Password is required
      </mat-error>
    </mat-form-field>

  </form>

</mat-card-content>

<mat-card-actions>
  <button matButton
          type="submit"
          form="login-form"
          [disabled]="form.invalid || loading">
    @if (loading) {
      Logging in...
    } @else {
      LOGIN
    }
  </button>
</mat-card-actions>

